<nav class="navbar navbar-inverse">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
		<li><a href="/todos/">Task List</a></li>
		<li><a href="/new/">Add Task</a></li>
      </ul>
    </div>
  </div>
</nav><div class="container"></div>

