<h1>Add Task</h1>
<form action="/new" method="POST">
<div><textarea name="name" rows="1" cols="80" placeholder="Task name"></textarea></div>
<div><textarea name="note" rows="4" cols="80" placeholder="Description"></textarea></div>
<div><input type="submit" value="Save"></div>
</form>
