<div class="taskpart row"><div class="col-xs-9 taskname">{{.Name}}   </div>
<!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs"></div>
<div class="col-xs-3"><a href="/todos/{{.Name}}\"><img src="images/details.png" width="20" height="20"></a> <a href="/deltodos/{{.Name}}"><img src="images/bin.png" width="20" height="20"></a></div></div>